CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
build*/*
Debug*/*
Release*/*
local*/*

# # The generated events
input/*events.dat*

# # Large hydrodynamic files (except the example)
input/hydro/*/*/*.dat
!input/hydro/AuAu.7.7/C70-80/surface_eps_0.26.dat


# Visual Studio
.vs/*

.vscode/*

# Doxygen
docs/doxygen/html*

# CLion
.idea/*
cmake-build-*/*

# Mac OS
.DS_Store